openapi: 3.0.1
info:
  contact:
    email: support@tyntec.com
    name: tyntec Support
    url: https://www.tyntec.com/support
  title: Configuration Management API
  version: 4
servers:
- description: Tyntec Server
  url: https://api.tyntec.com
security:
- apiKey: []
tags:
- description: |
    The Callback Configuration API allows users to register callback configurations for receiving message delivery status updates.
    Users can specify a callback URL where delivery status notifications will be sent.
    Additionally, users can include custom headers in the callback request for authentication or other purposes.
  name: Callback Configuration Management
- description: |
    The WhatsApp Configuration Endpoint provides a centralized method to set up and manage your WhatsApp integration by defining the WhatsApp Account ID.
    This endpoint enables users to configure the essential WhatsApp Account ID, which will be used for all subsequent requests towards the WhatsApp.
  name: WhatsApp Configuration Management
paths:
  /2fa/v4/configurations/callbacks:
    get:
      description: Lists all Callback Configurations.
      operationId: getAllCallbacks
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CallbackConfigurationDTO'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
          description: Internal Server Error
      summary: List Callback Configurations
      tags:
      - Callback Configuration Management
    post:
      callbacks:
        Delivery Status Callback:
          $request.body#/url:
            post:
              description: |
                Sends OTP events to the callback URL registered.
                
                  - **DISPATCHED**
                  - **DELIVERED**
                  - **UNDELIVERABLE**
                  - **TIMED_OUT**

                For details on error handling, you can refer to the following documentation pages:
                
                 - **WhatsApp**
                
                   - [On-Premises Errors](https://developers.facebook.com/docs/whatsapp/on-premises/errors)
                   - [Cloud API Error Codes](https://developers.facebook.com/docs/whatsapp/cloud-api/support/error-codes)
              requestBody:
                content:
                  application/json:
                    schema:
                      oneOf:
                        - $ref: "#/components/schemas/WebhookStatusMessage"
                        - $ref: "#/components/schemas/WebhookStatusWithError"
              responses:
                "200":
                  description: OK
      description: Creates a new Callback Configuration.
      operationId: createCallback
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCallbackConfigurationDTO'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallbackConfigurationResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConstraintViolationResponseSchema'
          description: Constraint violation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
          description: Internal Server Error
      summary: Create Callback Configuration
      tags:
      - Callback Configuration Management
  /2fa/v4/configurations/callbacks/{id}:
    delete:
      description: Deletes the Callback Configuration by specified ID
      operationId: deleteCallback
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConstraintViolationResponseSchema"
          description: Constraint violation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
          description: Internal Server Error
      summary: Delete Callback Configuration
      tags:
      - Callback Configuration Management
    patch:
      description: Patches the Callback Configuration by specified ID
      operationId: patchCallback
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchCallbackConfigurationDTO"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallbackConfigurationDTO"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConstraintViolationResponseSchema"
          description: Constraint violation
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundSchema"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseSchema"
          description: Internal Server Error
      summary: Patch Callback Configuration
      tags:
      - Callback Configuration Management
  /2fa/v4/configurations/channels/whatsapp:
    get:
      description: Returns details of a WhatsApp Configuration.
      operationId: findAllWhatsappConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsAppConfigResponse'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundSchema'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
          description: Internal Server Error
      summary: Read WhatsApp Configuration
      tags:
      - WhatsApp Configuration Management
    post:
      description: Creates a new WhatsApp Configuration.
      operationId: createWhatsappConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewWhatsAppConfigRequest'
        required: true
      responses:
        "201":
          content:
            application/json: {}
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConstraintViolationResponseSchema'
          description: Constraint violation
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponseSchema'
          description: Constraint violation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseSchema'
          description: Internal Server Error
      summary: Create WhatsApp Configuration
      tags:
      - WhatsApp Configuration Management
components:
  schemas:
    CallbackConfigurationDTO:
      type: object
      properties:
        headers:
          type: object
          additionalProperties:
            type: string
            description: Callback Request Headers
            title: Headers
          description: Callback Request Headers
          title: Headers
        id:
          type: string
          format: uuid
          description: ID of the Callback
          example: a4762c77-94cb-43d6-bbab-9f37e088ad11
          title: Callback ID
        profileId:
          type: string
          format: uuid
          description: Id of the profile for which the callbacks will be filtered
          example: a4762c77-94cb-43d6-bbab-9f37e088ad11
          title: Profile ID
        url:
          type: string
          description: Callback URL
          example: https://example.com/callback
          title: URL
    CallbackConfigurationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ID of the Callback
          example: a4762c77-94cb-43d6-bbab-9f37e088ad11
          title: Callback ID
    CallbackConflictResponseSchema:
      type: object
      properties:
        detail:
          type: string
          description: Description of conflict
          example: Callback configuration already exists.
          title: Conflict
        status:
          type: integer
          format: int64
          description: Http Status code
          example: 409
          title: Status Code
        title:
          type: string
          description: Http Status text
          example: Conflict
          title: Title of the error
      title: Conflict
    ConflictResponseSchema:
      type: object
      properties:
        detail:
          type: string
          description: Description of conflict
          example: WhatsApp configuration already exist.
          title: detail
        status:
          type: integer
          format: int64
          description: Http Status code
          example: 409
          title: Status Code
        title:
          type: string
          description: Http Status text
          example: Conflict
          title: Title of the error
      title: Conflict
    ConstraintViolationResponseSchema:
      type: object
      properties:
        status:
          type: integer
          format: int64
          description: Http Status code
          example: 400
          title: Status Code
        title:
          type: string
          description: Invalid request body parameters
          example: Constraint Violation
          title: Title of the error
        violations:
          type: array
          description: List of violations
          items:
            $ref: '#/components/schemas/ViolationResponseSchema'
          title: Violations
      title: Constraint Violation
    Error:
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: tyntec::internal::500
          title: Error Code
        message:
          type: string
          description: Error message
          example: Internal Server Error
          title: Error Message
      title: Error
    ErrorResponseSchema:
      type: object
      properties:
        detail:
          type: string
          description: Description of an error
          example: Unexpected error occurred on server
          title: detail
        status:
          type: integer
          format: int64
          description: Http Status code
          example: 500
          title: Status Code
        title:
          type: string
          description: The server encountered an unexpected condition
          example: Internal Server Error
          title: Title of the error
      title: Internal Server Error
    NewCallbackConfigurationDTO:
      type: object
      properties:
        headers:
          type: object
          additionalProperties:
            type: string
            description: Callback Request Headers
            title: Headers
          description: Callback Request Headers
          title: Headers
        profileId:
          type: string
          description: Id of the profile for which the callbacks will be filtered
          example: a4762c77-94cb-43d6-bbab-9f37e088ad11
          title: Profile ID
        url:
          type: string
          description: Callback URL
          example: https://example.com/callback
          title: URL
      required:
        - url
      title: New Callback Configuration
    NewWhatsAppConfigRequest:
      type: object
      properties:
        whatsAppAccountId:
          type: string
          description: Id of WhatsApp Account
          example: 289a1c20-06c5-4964-b32d-24d214a78ae5
          title: WhatsApp Account Id
      required:
        - whatsAppAccountId
      title: New WhatsApp Configuration
    NotFoundSchema:
      type: object
      properties:
        detail:
          type: string
          description: Explanation message
          example: Resource with ID 6f1f2438-f1bf-4ba0-892a-d6a3f5692a11 not found
          title: Explanation message
        resourceId:
          type: string
          description: ID of the Resource
          example: 6f1f2438-f1bf-4ba0-892a-d6a3f5692a11
          title: Resource ID
        status:
          type: integer
          format: int64
          description: Not Found Http Status code
          example: 404
          title: Not Found Status Code
        title:
          type: string
          description: Resource not found on the server
          example: No Resource Found
          title: Title of the error
      title: Not Found
    PatchCallbackConfigurationDTO:
      type: object
      properties:
        headers:
          type: object
          additionalProperties:
            type: string
            description: Callback Request Headers
            title: Headers
          description: Callback Request Headers
          title: Headers
        profileId:
          type: string
          description: Id of the profile for which the callbacks will be filtered
          example: a4762c77-94cb-43d6-bbab-9f37e088ad11
          title: Profile ID
        url:
          type: string
          description: Callback URL
          example: https://example.com/callback
          title: URL
      required:
        - url
      title: Patch Callback Configuration
    ViolationResponseSchema:
      type: object
      description: List of violations
      properties:
        field:
          type: string
          description: The field which is violated
          example: name
          title: Field violated
        message:
          type: string
          description: Indicates the constraint violation
          example: must not be blank
          title: Violation message
      title: Violations
    WebhookStatusMessage:
      type: object
      properties:
        channel:
          type: string
          description: Channel of Delivery
          enum:
            - SMS
            - VOICE
            - VIBER
            - WHATSAPP
          example: SMS
          title: Channel
        otpId:
          type: string
          format: uuid
          description: Unique identifier of the OTP
          example: a4762c77-94cb-43d6-bbab-9f37e088ad11
          title: OTP ID
        status:
          type: string
          description: Status of the OTP Delivery
          enum:
            - DISPATCHED
            - TIMED_OUT
            - DELIVERED
            - UNDELIVERABLE
          example: DISPATCHED
          title: Status
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the OTP event
          example: 2023-11-15T03:00:00Z
          title: Timestamp
    WebhookStatusWithError:
      type: object
      properties:
        channel:
          type: string
          enum:
            - SMS
            - VOICE
            - VIBER
            - WHATSAPP
        error:
          $ref: "#/components/schemas/Error"
        otpId:
          type: string
          format: uuid
          description: Unique identifier of the OTP
          example: a4762c77-94cb-43d6-bbab-9f37e088ad11
          title: OTP ID
        status:
          type: string
          description: status of the OTP Delivery
          enum:
            - DISPATCHED
            - TIMED_OUT
            - DELIVERED
            - UNDELIVERABLE
          example: UNDELIVERABLE
          title: status
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the OTP event
          example: 2023-11-15T03:00:00Z
          title: Timestamp
    WhatsAppConfigResponse:
      type: object
      properties:
        whatsAppAccountId:
          type: string
          format: uuid
          description: Id of WhatsApp Account
          example: 289a1c20-06c5-4964-b32d-24d214a78ae5
          title: WhatsApp Account Id
      title: WhatsApp Configuration
  securitySchemes:
    apiKey:
      in: header
      name: apiKey
      type: apiKey
